@import "vendor/bootstrap.min.css";
@import "vendor/fontawesome.min.css";

body {
    color: white;
    background-color: #2C2F33;
    overflow-x: hidden;
}

.well {
    background-color: #23272A;
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 32px;
    color: whitesmoke;
    max-width: 80%;
}

.wrapper.style3Alt {
    /*background-color: black;*/
    color: green;
    background-image: url("/images/pexels-photo-2080960.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.item1 {
    background-image: url("/images/49690.jpg");
    background-position: center;
    background-size: cover;
}

.item2 {
    background-image: url("/images/carousel2.jpg");
    background-position: center;
    background-size: cover;
}

.item3 {
    background-image: url("/images/pexels-azwar-azwar-1133086.jpg");
    background-position: center;
    background-size: cover;
}

.item4 {
    background-image: url("/images/pexels-quang-nguyen-vinh-2131967.jpg");
    background-position: center;
    background-size: cover;
}

.item5 {
    background-image: url("/images/pexels-adam-kontor-351127.jpg");
    background-position: center;
    background-size: cover;
}

/* Login style */

.loginTitle {
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 36px;
    color: #fff;
    opacity: 0.8;
}

.backgroundGrid {
    width: 100%;
    height: 100%;
    position: fixed;
}

.backgroundGrid:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background: url("images/dotgrid.png") repeat;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.backgroundGrid:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: rgb(255,145,164);
    background: -moz-linear-gradient(0deg, rgba(255,145,164,1) 0%, rgba(125,71,80,1) 30%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,145,164,1) 0%, rgba(125,71,80,1) 30%, rgba(0,0,0,1) 100%);
    background: linear-gradient(0deg, rgba(255,145,164,1) 0%, rgba(125,71,80,1) 30%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff91a4",endColorstr="#000000",GradientType=1);
}

.loginVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.loginContainer {
    left: 100px;
    right: 100px;
    position: absolute;
    z-index: 10;
    width: 100%;
}

.loginContainer > .form-control {
    font: inherit;
    font-weight: lighter;
    border-radius: 5px;
    width: 500px;
    background: #fff7;
    border: none;
    margin-bottom: 12px;
}

.login {
    margin-top: 300px;
    width: 20rem;
}

.signup {
    margin-top: 300px;
}

.login > .form-control:focus{
    color: black;
    outline: 0; !important;
}

.login > .form-control::placeholder {
    color: black;
}

.loginContainer > .form-control:focus::placeholder{
    color: black;
}

.form-button {
    font-size: 10px;
    font-weight: lighter;
    border-radius: 5px;
    width: auto;
    background: pink;
    color: black;
    height: 36px;
}

.form-button:hover {
    background-color: hotpink;
    transition: 0.3s;
}

.form-text {
    color: whitesmoke;
}

.loginTitle {
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 36px;
    color: pink;
    opacity: 0.8;
}

.formField {
    background-color: black;
}

.formField:focus {
    background-color: black;
    color: whitesmoke;
}

.signupLink {
    color: pink;
    text-decoration: none;
    font-size: 0.8rem;
    transition: 0.3s;
}

.signupLink:hover {
    text-decoration: none;
    color: hotpink;
}

/* MAP */

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
}

#infoContainer {
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: #2C2F33;
}

#mapContainer {
    width: 100%;
    height: 100vh;
}

#page-container {
    padding-top: 80px;
}

/* HOTSPOT INFO */

#hotspotTitle {
    margin-top: 4rem;
}

.hotspotCoord {
    font-size: 0.6rem;
    color: gray;
}

.icon-flipped {
    -webkit-transform: rotate(270deg) scaleX(-1);
    -moz-transform: rotate(270deg)scaleX(-1);
    -ms-transform: rotate(270deg) scaleX(-1);
    -o-transform: rotate(270deg) scaleX(-1);
    transform: rotate(270deg) scaleX(-1);
}

.hotspotIcon {
    font-size: 2rem;
    color: #cce5ff
}

.hotspotItem {
    background-color: #2C2F33;
    color: white;
    border-color: #cce5ff;
}

.windIcon {
    font-size: 5rem;
    color: #cce5ff;
    transition: 0.3s;
}

.windIcon:hover {
    color: white;
}

#windIndicator {
    margin-top: 1rem;
}

.grayColor {
    color: gray;
}

/* WIND CHART */
#container {
    min-height: 500px;
    height: 600px;
    width: 100%;
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 310px;
    width: 90%;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

tspan {
    fill: white;
}

/* PERMISSION PAGE */

.darkBox {
    width: 20rem;
    /*background-color: #222a30;*/
    border-radius: 15px;
    background-color: #1d1f24;
    /*background-color: #181d24;*/
}

.hotspotCoordPerm {
    color: #6c757d;
    font-size: 0.8rem;
}

.permsTitle {
    color: whitesmoke;
}

.switchButton {
    font-size: 2rem;
}

.content-container {
    margin-top: 70px;
}

.image-padding-color {
    /*background-color: #1d232b !important;*/
    /*background-color: #1d1f24 !important;*/
    background-color: #222a30 !important;
    border-radius: 10px;
}

.fish-picture {
    display: block;
    max-height:465px;
    width: 100%;
    height: auto;
}
