extends navbar

block content
  #page-container
    p Hello darkness my old friend

    Lat/lon still depends on a model of the earth. Typically, when people say lat/lon,
    the WGS84 reference geoid is assumed, but you can have lat/lon with a different geoid, hence the SRID 4326 that combines these two.

    SELECT X(coordinates),Y(coordinates) FROM table