extends navbar

block content
  body
    #page-container
      .row.justify-content-center
        .well.text-center="Here you will find that all your fisherman friends are listed. From here u can add a new fisherman friend, maybe one you've met recently. You can also visit a fellow fishers hotspot card to see how good a fisher he truly is"
