extends navbar

block content
  body
    .content-container
      .row.card-deck.justify-content-start.gallery
        each fish in fishes
          .image-padding-color.image.fit.col-md-5(style="margin: 50px;")
            if (fish.picturePath == null)
              img(src='/assets/images/4k_Placeholder.jpg' alt='Not found').fish-picture
            else
              img(src='/assets/images/' + fish.picturePath alt='Not found').fish-picture