extends navbar

block content
  body
    .row
      each fish in fishes
        .card(style='width: 18rem;')
          img.card-img-top(src='...' alt='Card image cap')
          .card-body
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
