html
    head
        meta(charset="utf8-8")
        title="Index"
        link(href="/stylesheets/main.css" rel="stylesheet")
        link(href="/stylesheets/style.css" rel="stylesheet")
    body
        .carousel.slide(data-ride="carousel")
            .carousel-inner
                .carousel-item.active
                    img.d-block.w-100(src="/stylesheets/images/49690.jpg" alt="First")

                .carousel-item
                    img.d-block.w-100(src="/stylesheets/images/carousel2.jpg" alt="second")

                .carousel-item
                    img.d-block.w-100(src="/stylesheets/images/carousel3.jpg" alt="third")

            a.carousel-control-prev(href="#carouselExempleControls" role="button" data-slide="prev")
                span.carousel-control-prev-icon(aria-hidden="true")
                span.sr-only Previous

            a.carousel-control-next(href="#carouselExempleControls" role="button" data-slide="next")
                span.carousel-control-next-icon(aria-hidden="true")
                span.sr-only Next

        .wrapper.style3
            .inner
                header.align-center
                    p="Fishing made smarter and easier 👏"
                    h2="Three Fisherman Friends"


        .wrapper.style2
            .inner
                .grid-style
                    div
                        .box
                            .image.fit
                                img(src="/stylesheets/images/49690.jpg")

                            .content
                                header.align-center
                                    p Three Fisherman Friends App
                                    h2 Easy of use

                                p Spicy jalapeno bacon ipsum dolor amet frankfurter boudin cupim, ham hock biltong pork tongue ground round alcatra. Filet mignon pork loin swine beef ribs kevin andouille flank biltong buffalo. Pork loin venison sausage buffalo shankle short ribs ground round. Salami turducken spare ribs, shoulder shankle ham sausage ball tip andouille chislic meatball bresaola kielbasa ham hock cupim.

                                footer.align-center
                                    a.button.alt(href="#") Learn More

                    div
                        .box
                            .image.fit
                                img(src="/stylesheets/images/49690.jpg")

                            .content
                                header.align-center
                                    p Three Fisherman Friends Add-on
                                    h2 You can take it anywhere

                                p Spicy jalapeno bacon ipsum dolor amet frankfurter boudin cupim, ham hock biltong pork tongue ground round alcatra. Filet mignon pork loin swine beef ribs kevin andouille flank biltong buffalo. Pork loin venison sausage buffalo shankle short ribs ground round. Salami turducken spare ribs, shoulder shankle ham sausage ball tip andouille chislic meatball bresaola kielbasa ham hock cupim.

                                footer.align-center
                                    a.button.alt(href="#") Learn More

        footer#footer
            .container
                a(href='https://www.facebook.com/flatearthsociety' target="blank").p-1.ml-1
                    i.fab.fa-facebook.fa-2x
                a(href="https://www.youtube.com/watch?v=sIFFywo_-1w" target="blank").p-1.ml-1
                    i.fab.fa-youtube.fa-2x
                a(href='https://twitter.com/realDonaldTrump' target="blank").p-1.ml-1
                    i.fab.fa-twitter.fa-2x
                a(href='https://github.com/Max135/TFF' target="blank").p-1.ml-1
                    i.fab.fa-github.fa-2x
            br
            .copyright © TFF. Some rights reserved.
