html
    head
        meta(charset="utf8-8")
        title=title
        link(href="/stylesheets/main.css" rel="stylesheet")
        link(href="/stylesheets/style.css" rel="stylesheet")
    body
        .row
            header.alt#header
                .logo
                    img(src="/stylesheets/images/Logo.png" height=50)
                a(href="#menu") Menu

        section.banner.full
            article.item1
                img(src="/stylesheets/images/49690.jpg")
                .inner
                    header
                        p Making fishing smarter than ever before
                        h2 TFF
            article.item2
                img(src="/stylesheets/images/carousel2.jpg")
                .inner
                    header
                        p To catch all the fish of your dreams
                        h2 Make Dreams Happen
            article.item3
                img(src="/stylesheets/images/pexels-azwar-azwar-1133086.jpg")
                .inner
                    header
                        p To connect with all your fisherman friends
                        h2 Hotspot sharing
            article.item4
                img(src="/stylesheets/images/pexels-quang-nguyen-vinh-2131967.jpg")
                .inner
                    header
                        p Making Fishing smarter than ever before
                        h2 TFF
            article.item5
                img(src="/stylesheets/images/pexels-adam-kontor-351127.jpg")
                .inner
                    header
                        p because we put the sexy in TFF.sexy
                        h2 TFF



        .wrapper.style3.style3Alt
            .inner
                header.align-center
                    p="Fishing made smarter and easier 👏"
                    h2="Three Fisherman Friends"


        .wrapper.style2
            .inner
                .grid-style
                    div
                        .box
                            .image.fit
                                img(src="/stylesheets/images/pexels-mohi-syed-50614.jpg" height=400)

                            .content
                                header.align-center
                                    p Three Fisherman Friends App
                                    h2 Easy of use

                                p Spicy jalapeno bacon ipsum dolor amet frankfurter boudin cupim, ham hock biltong pork tongue ground round alcatra. Filet mignon pork loin swine beef ribs kevin andouille flank biltong buffalo. Pork loin venison sausage buffalo shankle short ribs ground round. Salami turducken spare ribs, shoulder shankle ham sausage ball tip andouille chislic meatball bresaola kielbasa ham hock cupim.

                                footer.align-center
                                    a.button.alt(href="#") Learn More

                    div
                        .box
                            .image.fit
                                img(src="/stylesheets/images/pexels-tomasz-filipek-1630039.jpg" height=400)

                            .content
                                header.align-center
                                    p Three Fisherman Friends Add-on
                                    h2 You can take it anywhere

                                p Spicy jalapeno bacon ipsum dolor amet frankfurter boudin cupim, ham hock biltong pork tongue ground round alcatra. Filet mignon pork loin swine beef ribs kevin andouille flank biltong buffalo. Pork loin venison sausage buffalo shankle short ribs ground round. Salami turducken spare ribs, shoulder shankle ham sausage ball tip andouille chislic meatball bresaola kielbasa ham hock cupim.

                                footer.align-center
                                    a.button.alt(href="#") Learn More

        footer#footer
            .container
                a(href='https://www.facebook.com/flatearthsociety' target="blank").p-1.ml-1
                    i.fab.fa-facebook.fa-2x
                a(href="https://www.youtube.com/watch?v=sIFFywo_-1w" target="blank").p-1.ml-1
                    i.fab.fa-youtube.fa-2x
                a(href='https://twitter.com/realDonaldTrump' target="blank").p-1.ml-1
                    i.fab.fa-twitter.fa-2x
                a(href='https://github.com/Max135/TFF' target="blank").p-1.ml-1
                    i.fab.fa-github.fa-2x
            br
            .copyright © TFF. Some rights reserved.

        script(src="/javascripts/vendor/jquery-3.5.1.min.js")
        script(src="/javascripts/vendor/jquery.scrollex.min.js")
        script(src="/javascripts/vendor/skel.min.js")
        script(src="/javascripts/vendor/util.js")
        script(src="/javascripts/vendor/main.js")
        nav#menu
            ul.links
                li: a(href="#") Home
                li: a(href="#") Login
                li: a(href="#") ???
            a.close(href="#menu")