include mixins/base
html
  head
    meta(charset="utf8-8")
    title="Index"
    link(href="stylesheets/main.css" rel="stylesheet")
    link(href="stylesheets/style.css" rel="stylesheet")
    meta(name="viewport" content="initial-scale=5,maximum-scale=1,user-scalable=no")
    script(src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js' nonce=nonce())
    link(href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' type='text/stylesheet' nonce=nonce())
  header(style="z-index: 9999")
    nav(style="padding: 0 8vw; font-size: 1.35rem; background-color: rgba(51,51,51, 0.9);").navbar.fixed-top.navbar-expand-sm.navbar-dark
      a.navbar-brand(href='/')
        .logo
          img(src="/stylesheets/images/Logo.png" height=50)
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/hub')
            | Hub
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='/map') Map
        li.nav-item
          a.nav-link(href='/friends') Friends
        li.nav-item
          a.nav-link(href='/options') Options
      ul.navbar-nav.nav-flex-icons
        li.nav-item
          a.nav-link
            i.fab.fa-facebook-f
        li.nav-item
          a.nav-link
            i.fab.fa-twitter
        li.nav-item
          a.nav-link
            i.fab.fa-instagram
  block content