extends navbar

block content
  body
    #page-container
      .row.justify-content-center
        br
        .well.text-center="The graph below shows all the winds for each trip that took place in the selected hotspot. When you hover over a specific point in the chart the average wind speed and the range of that day will be mentionned. Please note that the graphic may look weird if there arent many trips in this hotpsot"
        br
        figure.highcharts-figure
          #container
          script.
              var hotspotId = #{hotspotId};
              var req = new XMLHttpRequest();
              req.onreadystatechange = function () {
                  if (req.readyState == 4 && req.status == 200) {
                      var answer = JSON.parse(req.response);
                      console.log(answer[1]);
                      var rangeArray = [];
                      for (var tripRange of answer[0]) {
                          rangeArray.push([Date.parse(tripRange.dateTimeStart), tripRange.minSpeed, tripRange.maxSpeed])
                      }
                      var avgArray = []
                      for (var avgRange of answer[1]) {
                          avgArray.push([Date.parse(avgRange.dateTimeStart), avgRange.avgSpeed])
                      }
                      Highcharts.chart('container', {
                          title: {
                              text: 'Winds of trips'
                          },
                          xAxis: {
                              type: 'datetime',
                              accessibility: {
                                  rangeDescription: 'welp you were not supposed to see this'
                              }
                          },
                          yAxis: {
                              title: {
                                  text: null
                              }
                          },
                          tooltip: {
                              crosshairs: true,
                              shared: true,
                              valueSuffix: 'mph'
                          },
                          series: [{
                              name: 'Average Wind',
                              data: avgArray,
                              zIndex: 1,
                              marker: {
                                  fillColor: 'white',
                                  lineWidth: 2,
                                  lineColor: Highcharts.getOptions().colors[0]
                              }
                          }, {
                              name: 'Wind Range',
                              data: rangeArray,
                              type: 'arearange',
                              lineWidth: 0,
                              linkedTo: ':previous',
                              color: Highcharts.getOptions().colors[0],
                              fillOpacity: 0.3,
                              zIndex: 0,
                              marker: {
                                  enabled: false
                              }
                          }]

                      });
                      const b = Date.parse("2008-11-11 11:11:11");
                  }
              }
              var url = location.protocol + "//" + location.hostname + "/api/hotspotWinds?hotspotId=" + hotspotId;
              req.open("GET", url, true);
              req.send();

              function buildRangeArray(values) {

              }

              function buildAvgArray(values) {

              }

